table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  td:nth-child(2), th:nth-child(2) {
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }